# Lecture Class 5th Feb, 2021


## Table Joins

 1. `IS` for NULL Checking 
 
 ```sql
    SELECT * FROM EMP WHERE ENAME IS NULL 
```

2.